<h2>Users</h2>
<a href="https://github.com/login/oauth/authorize?client_id=6dd063c2da70bf5a1a58&scope=user">Login by GitHub</a>

<h2>List of users:</h2>
<% @users.each do |user| %>
<p><%= user.login %></p>
<% end %>